/* Reset global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-container {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: auto;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}


.login-container img {
    max-width: 150px;
    margin-bottom: 20px;
}


.login-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #1a73e8;
}


.login-input label,
.login-password label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}


.login-input input,
.login-password input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
    font-size: 16px;
}


.login-button input {
    background-color: #007bff;
    color: white;
    padding: 15px;
    width: 100%;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-button input:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.volver a {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    margin-top: 15px;
}

.volver a:hover {
    text-decoration: underline;
}

