*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}
body{
    background-color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: url(https://images.alphacoders.com/127/thumb-1920-1275722.jpg) no-repeat center; 
}

.login-container img{
    margin-left: 2%;
    margin-top: 3%;
}
.login-container{
    box-shadow: 1px 0px 8px rgba(255, 255, 255, 0.212);
    height: 560px;
    width: 450px;
    margin-left: 40%;
    margin-top: 10%;
    border-radius: 40px;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}
.login-container h1{
    text-align: center;
    font-family: Arial;
    margin-top: 15%;
    color: #fff;
}
.login-container{
    text-align: center;
}
.login-input label{
    display: block;
    margin-top: 10%;
    font-size: 25px;
    margin-right: 30%;
    color: #fff;
}
.login-input input{
    padding: 2%;
    width: 50%;
    margin-top: 5%;
    border: 1px solid white;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.075);
    color: #fff;
}
.login-password label{ 
    display: block;
    margin-top: 10%;
    font-size: 25px;
    margin-right: 20%;
    color: #fff;
}
.login-password input{
    padding: 2%;
    width: 50%;
    margin-top: 5%;
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.075);
    color: #fff;
}
.login-button input{
    background-color: rgb(8, 114, 253);
    color: white;
    margin-top: 10%;
    padding:3%;
    border-radius: 8px;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
}
.login-button input:hover{
    box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.315);
    color: grey;
    transform: scale(1.1);
}
.volver {
    text-align: center;
    margin-top: 1%;
    margin-left: 3%;
}
.volver a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 254, 254); 
}
.volver a:hover{
    color: rgba(228, 228, 228, 0.267);
}